appdirs==1.4.4
cloudpickle==2.2.0
cmake==3.24.1.1
cvxpy==1.2.1
cycler==0.11.0
derivative==0.4.2
ecos==2.0.10
fonttools==4.37.1
Gymnasium==0.26.3
gymnasium-notices==0.0.1
h5py==3.7.0
imageio==2.21.3
importlib-metadata==5.0.0
joblib==1.1.0
kiwisolver==1.4.4
matplotlib==3.5.3
numpy==1.21.6
osqp==0.6.2.post5
packaging==21.3
Pillow==9.2.0
pybind11==2.10.1
pyparsing==3.0.9
pysindy==1.7.1
pySPlisHSPlasH==2.11.6
python-dateutil==2.8.2
pyvista==0.36.1
qdldl==0.1.5.post2
scikit-learn==1.0.2
scipy==1.7.3
scooby==0.6.0
scs==3.2.0
six==1.16.0
sklearn==0.0
threadpoolctl==3.1.0
tqdm==4.64.1
typing_extensions==4.3.0
vtk==9.0.1
zipp==3.10.0
